{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% if username %}
{% if current_user.username == username %}
<h1>My hikes</h1>
{% else %}
<h1>Hikes registered by user <i>{{username}}</i></h1>
{% endif %}
{% else %}
<h1>All registered hikes</h1>
{% endif %}

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Trail</th>
            <th>Distance</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
        </tr>
    </thead>
    {% if hikes %}
    {% for hike in hikes %}
    <tr>
        <td>
            <form method="GET" action={{url_for("main.user", username=hike.walker.username)}}>
                <button class="btn btn-secondary btn-sm" type="submit">
                    {{hike.walker.username}}
                </button>
            </form>
        </td>
        <td>{{hike.timestamp}}</td>
        <td>{{hike.path.dispname}}</td>
        <td>{{hike.distance}} km</td>
        <td>{{hike.km_start}} km</td>
        <td>{{hike.km_end}} km</td>
        <td>
            <form method="GET" action={{url_for("hikes.show_single_hike", id=hike.id)}}>
                <button class="btn btn-secondary btn-sm" type="submit">
                    View hike details
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% if username and not current_user.username == username %}
<form method="GET" action={{url_for("main.user", username=username)}}>
    <button class="btn btn-secondary btn" type="submit">
        View {{username}}'s profile
    </button>
</form>
{% endif %}

{% if form and username==current_user.username %}
<h1>Add a new hike</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(
            form=form,
            action=url_for("hikes.show_all_hikes"),
            method="POST")
        }}
    </div>
</div>
{% endif %}


{% endblock %}