{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Adding new hike on {{trail.displayname}}</h1>

<div class="row">
    <div class="col-md-4">
        <form method="POST">
            <div>{{ form.timestamp.label }} {{form.timestamp}}</div>
            <div>{{ form.km_start.label }} {{ form.km_start}}</div>
            <div>{{ form.km_end.label }} {{ form.km_end}}</div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<script>
    startfield = document.getElementById('km_start');
    endfield = document.getElementById('km_end');
    startfield.value = 0;
    endfield.value = {{ trail.length }}
</script>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>

<div class="container">
    <div id='map' style='width: 600px; height: 400px;'></div>
    <pre id="info"></pre>

    <script>
        // display
        mapboxgl.accessToken = 'pk.eyJ1IjoianNvbWEiLCJhIjoibFJmYl9JWSJ9.AUm8d76cbOvVEn2mMeG_ZA';
        const coords = JSON.parse('{{ coords_raw | tojson }}');
        const center = JSON.parse('{{ center_raw | tojson }}');
        const dcum = JSON.parse('{{ dcum_raw | tojson }}');
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/outdoors-v9',
            center: center,
            zoom: 7,
        });
        const marker = new mapboxgl.Marker({
            color: '#F84C4C' // color it red
        });
        map.on('load', function () {
            map.addSource('route', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': coords
                    }
                }
            });
            map.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'route',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#000000',
                    'line-width': 6
                }
            });
            let data = {
                'type': 'Feature',
                'properties': {},
                'geometry': {
                    'type': 'LineString',
                    'coordinates': coords
                }
            };
            map.addSource('hike', {
                'type': 'geojson',
                'data': data,
            });
            map.addLayer({
                'id': 'hike',
                'type': 'line',
                'source': 'hike',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#00ff00',
                    'line-width': 3
                }
            });
            let dmax = Math.round(10 * dcum[dcum.length - 1]) / 10
            document.getElementById('info').innerHTML = `Selected range ${0} km to ${dmax} km`;
            const startmarker = new mapboxgl.Marker({ draggable: true, color: '#ff0000' }).setLngLat(coords[0]).addTo(map);
            const endmarker = new mapboxgl.Marker({ draggable: true, color: '#00ff00' }).setLngLat(coords[coords.length - 1]).addTo(map);
            function dragfunc() {
                // start marker
                const lngLat_start = startmarker.getLngLat();
                let delta_start = [];
                for (let i = 0; i < coords.length; i++) {
                    let del_x = coords[i][0] - lngLat_start.lng
                    let del_y = coords[i][1] - lngLat_start.lat
                    let del = del_x * del_x + del_y * del_y
                    delta_start.push(del)
                }
                let del_min_start = Math.min.apply(Math, delta_start);
                let i_min_start = delta_start.indexOf(del_min_start);
                let dcum_start = Math.round(10 * dcum[i_min_start]) / 10
                // end marker
                const lngLat_end = endmarker.getLngLat();
                let delta_end = [];
                for (let i = 0; i < coords.length; i++) {
                    let del_x = coords[i][0] - lngLat_end.lng
                    let del_y = coords[i][1] - lngLat_end.lat
                    let del = del_x * del_x + del_y * del_y
                    delta_end.push(del)
                }
                let del_min_end = Math.min.apply(Math, delta_end);
                let i_min_end = delta_end.indexOf(del_min_end);
                let dcum_end = Math.round(10 * dcum[i_min_end]) / 10
                document.getElementById('info').innerHTML = `Selected range ${dcum_start} km to ${dcum_end} km`;
                data.geometry.coordinates = coords.slice(i_min_start, i_min_end)
                map.getSource('hike').setData(data);
                startfield = document.getElementById('km_start');
                endfield = document.getElementById('km_end');
                startfield.value = dcum_start;
                endfield.value = dcum_end;
            }
            startmarker.on('dragend', dragfunc);
            endmarker.on('dragend', dragfunc);
        })
    </script>
</div>



{% endblock %}