{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Available hiking trails</h1>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Display name</th>
            <th>Full name</th>
            <th>Length</th>
            <th></th>
        </tr>
    </thead>
    {% for trail in trails %}
    <tr>
        <td style="vertical-align:middle;">{{trail.dispname}}</td>
        <td style="vertical-align:middle;">{{trail.fullname}}</td>
        <td style="vertical-align:middle;">{{trail.length}} km</td>
        <td>
            <form style="display:inline;" method="GET" action={{url_for("trails.show_single_trail", name=trail.name)}}>
                <button class="btn btn-secondary btn-sm" type="submit">View trail details</button>
            </form>
            <form style="display:inline;" method="GET" action={{url_for("hikes.add_hike", name=trail.name)}}>
                <button class="btn btn-success btn-sm" type="submit">Add hike on this trail</button>
            </form>


            <!-- <form method="GET" action={{url_for("trails.show_single_trail", name=trail.name)}}>
                <button class="btn btn-primary btn-sm" type="submit">
                    View details
                </button>
            </form>
            <form method="GET" action={{url_for("hikes.add_hike", name=trail.name)}}>
                <button class="btn btn-info btn-sm" type="submit">
                    Add hike on {{trail.dispname}}
                </button>
            </form> -->
        </td>
    </tr>
    {% endfor %}
</table>

{% if user and user.is_admin %}
<form method="GET" action={{url_for("trails.add_trail")}}>
    <button class="btn btn-success" type="submit">Add new trail</button>
</form>
{% endif %}

{% endblock %}