{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% if current_user.username == user.username %}
<h1>My trails</h1>
<p>This page lists all GR trails on which you have submitted hikes.</p>
{% else %}
<h1>Trails explored by <i>{{user.username}}</i></h1>
<p>This page lists all GR trails on which user <i>{{user.username}}</i> has submitted hikes.</p>
{% endif %}


<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Trail</th>
            <th>Full name</th>
            <th>Total distance</th>
            <th>Completed distance</th>
            <th>Completed percentage</th>
            <th></th>
        </tr>
    </thead>
    {% for trail in trails %}
    <tr>
        <td>
            <form style="display:inline;" method="GET" action={{url_for("trails.show_single_trail", name=trail.name)}}>
                <button class="btn btn-secondary btn-sm" type="submit">{{trail.dispname}}</button>
            </form>
        </td>
        <td>{{trail.fullname}}</td>
        <td>{{trail.length}} km</td>
        <td>{{stats.total_distances[trail.name]}} km</td>
        <td>{{stats.percentages[trail.name]}} %</td>
        <td>
            <form method="GET"
                action={{url_for("hikes.show_trail_hikes", trailname=trail.name, username=user.username)}}>
                <button class="btn btn-secondary btn-sm" type="submit">
                    View summary
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% if user.username and not current_user.username == user.username %}
<form method="GET" action={{url_for("main.user", username=user.username)}}>
    <button class="btn btn-secondary btn" type="submit">
        View {{user.username}}'s profile
    </button>
</form>
{% endif %}

{% endblock %}