{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>List of hiking trails</h1>
<table class="table table-hover">
    <tr>
        <td>Display name</td>
        <td>Full name</td>
        <td>Length [km]</td>
        <td>Add hike</td>
    </tr>
    {% for trail in trails %}
    <tr>
        <td>
            <a href="{{ url_for('main.trail_detail', displayname=trail.displayname) }}">
                {{trail.displayname}}
            </a>
        </td>
        <td>{{trail.fullname}}</td>
        <td>{{trail.length}} km</td>
        <td>
            <a href="{{ url_for('main.hike_add', displayname=trail.displayname) }}">
                Add hike on {{trail.displayname}}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<h1>Add new trail</h1>
{% if form %}
{{ wtf.quick_form(form) }}
{% endif %}

{% endblock %}