{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Trail details</h1>
<h2>{{trail.dispname}} ({{trail.fullname}})</h2>
<p>This trail has a total length of {{trail.length}} km.</p>

<div class="row">
    <div class="col-md-4">
        <form style="display:inline;" method="GET" action={{url_for("trails.show_all_trails", name=trail.name)}}>
            <button class="btn btn-primary" type="submit">Back to all trails</button>
        </form>
        {% if user and user.is_admin %}
        <form style="display:inline;" method="GET" action={{url_for("trails.edit_trail", name=trail.name)}}>
            <button class="btn btn-warning" type="submit">Edit</button>
        </form>
        <form style="display:inline;" method="POST" action={{url_for("trails.delete_trail", name=trail.name)}}>
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        {% endif %}
    </div>
</div>

{% include "_map_plain.html" %}

{% endblock %}