{% extends "base.html" %}

{% block app_content %}
<table class="table table-hover">
    <tr>
        <td width="256px"><img src="{{ user.avatar(256) }}"></td>
        <td>
            <h1>{{ _('User') }}: {{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}
            <p>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</p>
            {% endif %}
            <p>{{ _('%(count)d followers', count=user.followers.count()) }},
                {{ _('%(count)d following', count=user.followed.count()) }}</p>
            {% if user == current_user %}
            <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
            {% endif %}
        </td>
    </tr>
</table>
{% if user == current_user %}
<p>viewing own profile</p>
{% else %}

{% if not friends %}
<form style="display:inline;" method="POST" action="{{url_for("main.follow", username=user.username)}}">
    <button class="btn btn-primary" type="submit">Follow user</button>
</form>

{% elif friends == "pending" %}
<!-- <form style="display:inline;" method="GET" action="">
    <button class="btn btn-info" type="submit">Waiting for user to accept. Click to cancel request.</button>
</form> -->
{% else %}
<form style="display:inline;" method="POST" action={{url_for("main.unfollow", username=user.username)}}>
    <button class="btn btn-secondary" type="submit">Following user. Click to unfollow.</button>
</form>
{% endif %}

<p>friendship status: {{friends}}</p>
<p>viewing someone else's profile</p>
{% endif %}

<h3>People I am following</h3>

<h3>People that are following me</h3>

{% endblock %}