{% extends "base.html" %}

{% block app_content %}
<table class="table table-hover">
    <tr>
        <td width="256px"><img src="{{ user.avatar(256) }}"></td>
        <td>
            <h1><i>{{ user.username }}</i>'s profile</h1>

            {% if user.about_me %}
            <p>{{ user.about_me }}</p>
            {% endif %}

            <p>Privacy: {{user.privacy.value}}</p>

            <p>
                {% if target_privacy == "public" %}
                {% if friends %}
            <form style="display:inline;" method="POST"
                action={{url_for("main.unfollow", username=user.username, source="other")}}>
                <button class="btn btn-danger" type="submit">Unfollow user</button>
            </form>
            {% else %}
            <form style="display:inline;" method="POST"
                action="{{url_for("main.follow", username=user.username, source="other")}}">
                <button class="btn btn-success" type="submit">Follow user</button>
            </form>
            {% endif %}

            {% elif target_privacy == "friends" %}
            {% if not friends %}
            <form style="display:inline;" method="POST"
                action="{{url_for("main.follow", username=user.username, source="other")}}">
                <button class="btn btn-success" type="submit">Follow user</button>
            </form>
            {% elif friends == "pending" %}
            <form style="display:inline;" method="POST"
                action="{{url_for("main.cancel_follow_request", username=user.username, source="other")}}">
                <button class="btn btn-warning" type="submit">Request sent, click to cancel</button>
            </form>
            {% else %}
            <form style="display:inline;" method="POST"
                action="{{url_for("main.cancel_follow_request", username=user.username, source="other")}}">
                <button class="btn btn-danger" type="submit">Unfollow user</button>
            </form>
            {% endif %}
            {% endif %}


            {% if target_privacy == "public" %}
            <form style="display:inline;" method="GET"
                action="{{url_for("hikes.show_user_hikes", username=user.username)}}">
                <button class="btn btn-success" type="submit">View hikes</button>
            </form>
            <form style="display:inline;" method="GET"
                action="{{url_for("trails.show_user_trails", username=user.username)}}">
                <button class="btn btn-success" type="submit">View trails</button>
            </form>
            {% elif target_privacy == "friends" %}

            {% endif %}
            </p>

        </td>
    </tr>
</table>

{% endblock %}